.body,
.dashboard {
  margin: 0 100px 0 100px;
}

.detail {

  width: 1000px;
  height: auto;
  margin: 30px auto;
}

.icon-add {
  /* margin: 10px; */
  padding: 0 0px 10px 10px;
  /* background-color: blue; */
}

.bth-edit {
  width: 35px;
  height: 35px;
  margin: 0 10px 0px 10px;

}

.icon-edit {
  position: relative;
  padding: 10px;
  left: -23px;
  top: -7px;

}

.icon-edit-in {
  padding-bottom: 5px;
}

.tbn-gg {
  margin: 0 auto;
}